:root {
	/* Colour */
	--text: #232724;
	--icon-text: #137333;
	--header: #1d9c4f;
	--input-field: #e6f4ea;
	--background: #f0f0f0;
	--overlay: #ffffff;

	/* Shadows */
	--shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

	/* Spacing */
	--space: 14px;
	/* --space-big: 20px; */

	/* Others */
	--border-radius: 10px;
	--border-radius-sm: 5px;
}

body {
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	padding: var(--space);
	margin: 0;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
}

/* Remove default link colour for icons */
a.material-icons {
	color: #ffffff;
	text-decoration: none;
}

h1 {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: var(--space);
}
