/* Variables */
:root {
	/* Colour */
	--text: #232724;
	--icon-text: #137333;
	--header: #1d9c4f;
	--input-field: #e6f4ea;
	--background: #f0f0f0;
	--overlay: #ffffff;

	/* Shadows */
	--shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

	/* Spacing */
	--space: 14px;
	--space-md: 9px;
	--space-sm: 5px;

	/* Border radius */
	--border-radius: 10px;
	--border-radius-sm: 5px;
}

/* MRT line colours */
.EW,
.CG {
	background-color: rgb(0, 147, 58);
}
.NS {
	background-color: rgb(235, 60, 16);
}
.CC {
	background-color: rgb(230, 219, 60);
}
.DT {
	background-color: rgb(0, 85, 183);
}
.NE {
	background-color: rgb(160, 40, 180);
}
.TE {
	background-color: rgb(160, 90, 30);
}

/* LRT line, bus and walk colour */
.lrt {
	background-color: rgb(110, 130, 115);
}
.bus {
	background-color: rgb(45, 175, 105);
}
.walk {
	background-color: rgb(226, 226, 226);
}

body {
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	padding: var(--space);
	margin: 0;
	box-sizing: border-box;

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
}

:not(input) {
	user-select: none;
}

/* Remove default link underline */
a {
	text-decoration: none;
	color: unset;
}

h1 {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: var(--space);
}
